# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# docker
docker/compose/data/
docker/compose/web/
docker/compose/scheduler/

# FE
/FE/node_modules
/FE/dist
/FE/package-lock.json

# backend
/ahpuoj/ahpuoj
/ahpuoj/config/config.ini
ahpuoj/.vscode/launch.json

# scheduler
/scheduler/config.ini
/scheduler/log/
/scheduler/scheduler

# mysql model
/model/oj.mwb.bak

.idea
